body {
  margin-bottom: 80px;
  background:greenyellow;

}

#titlesvg {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: auto;
  margin-bottom: 0px;
  fill: red; /* Set the initial background color */
  animation-name: example;
  animation-duration: 4s;
  animation-timing-function: linear; /* Add the timing function */
  animation-iteration-count: infinite; /* Make the animation run infinitely */
  color: white; /* Add a contrasting text color for readability */
}

@keyframes example {
  0%   {fill: hotpink;}
  25%  {fill: orange;}
  50%  {fill: red;}
  100% {fill: blue;}
}



.marquee {
  display:flex;
  overflow:hidden;
  height:5vh;
  gap: .2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.marqueegroup {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 100%;
  animation: scroll 15s linear infinite;
 }

.marqueegroup span {
color: blue ;
font-size: 2vw;
font-family: 'Sporting Grotesque', sans-serif;
white-space: nowrap;

}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}


.ing-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    max-width: fit-content;

}
.ing-grid img {
    width: 100%;
    height: auto;
}

.ing img:hover{
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition: 1s ease;
 /*transition:all 0.5s ease-in-out;
  transform:scale(1.1);
  background-color:orange;
  object-fit:cover;
  aspect-ratio:1;
  border-radius: 50%;
  will-change: transform;
  margin-top: 1rem;*/
}








