body {
  background:cornflowerblue;
  margin: 0;
  padding: 40px;
}

h1{
	font-family:arial;
	color:lightblue;
	font-size:67px;
	 background-color: darkblue;
     text-align: center;
     padding: 20px 0;
    border-radius: 10px;
        }


h2{
  font-family:arial;
  color:lightgoldenrodyellow;
  font-size:50px;

}
.center-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
}

.ing {
    position: sticky;
    top: 20px; 
    width: 100%; 
    z-index: 1; 
}

.ing img {
    width: 500px; 
    height: auto; 
}

.sandwich img {
   width: 700px; 
    height: auto; 
    align-items: center;
  }
	







