body{
    background: ;
}


#title{
  position: relative;
  animation: bounce 1s ease infinite; /* Apply the bounce animation */
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Start and end at the original position */
  }
  50% {
    transform: translateY(-20px); /* Bounce up halfway */
  }
}

.heading1{
    font-size: 80px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border:20px;
    line-height: 100%;
    text-align: center;
    margin-block: 50px;

}

.heading2{
    font-size: 80px;
    font-family: 'Kdam Thmor Pro', sans-serif;
    border:20px;
    line-height: 100%;
    text-align: center;
     margin-block: 100px;
     margin-top: 250px;

}

.ing-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 30px; 


}
.ing img {
    width: 100%;
    height: auto;
}


#add{
    align-items: center;
    font-size: monospace;
}


#stepsList {
    width: 50%;
    max-width: 700px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
    line-height: 1.5;

}

.review {
     font-family: 'Ubuntu', sans-serif;
     line-height: 1.5;
     margin-right: 10px;

}
.finalcontainer {
  display: flex;
  align-items: center; /* Optional: Align vertically */
}

.finalcontainer img {
  width: 60%; /* Set your image width */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px; /* Optional: Adjust spacing between image and text */
  margin-top: 200px;
}



.navcontainer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr); 
  padding: 0;
}



.button {
    padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-family: monospace; 
  border-radius: 60%;  
}
.button:hover {
    background-color: yellow;
    text-decoration: underline;

}








