body {
  margin-bottom: 80px;
  background:#FFF9C9;

}


h3{
 
font-family: 'Source Code Pro', monospace;
color: darkgreen;
font-size: 30px;
margin-top: 30px;
margin-bottom: -100px;
}

h1{
font-family: 'Petit Formal Script', cursive;
color: #fb8b24;
font-size: 200px;
padding: 10px;
border:20px;
margin: -5px;
line-height: 100%;
}

.hover:hover{
    content: url("images/after.png");
   height: auto;
   object-fit: initial;
}

.center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  margin-top: 40px;
}


.title-ing{
  width: 1100px;
  height: 500px;
  margin-left: 150px;
}





.ing-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
}



.ins-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    width: 100%;
}


.ing img {
    width: 100%;
    height: auto;

  }

.ing {
   width: 100%;
   font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}











@media screen and (max-width: 991px) {
      


    .ins-grid{
      display: grid;
          grid-template-columns: repeat(2, 1fr); 
          gap: 10px; 
          margin-left: 100px;
          margin-right:100px;
        }

        .ing-grid{
      display: grid;
          grid-template-columns: repeat(1, 1fr); 
          gap: 10px; 
          margin-left: 100px;
          margin-right:100px;}
      }

}

 
















