body {
  margin-bottom: 80px;
  background:black;

}

h1{
font-family: 'Petit Formal Script', cursive;
color: #fb8b24;
font-size: 200px;
padding: 10px;
border:20px;
margin: -5px;
line-height: 100%;
}


.container {
  position: relative;
  text-align: center;
  color: white;}

.centered {
 font-family: 'Kdam Thmor Pro', sans-serif;
color: black;
font-size: 150px;
padding: 10px;
border:20px;
margin: -5px;
line-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container2 {
 font-family: 'Kdam Thmor Pro', sans-serif;
font-size: 50px;
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 100px;
}




.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    gap: 10px; /* Adjust the gap between images */
}

.image {
    overflow: hidden; /* Optional: Clip images if they are different sizes */
}

.image img {
    max-width: 100%;
    height: auto;
    display: block;

}

.navcontainer {
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(5, 1fr); 
  padding: 0;
  margin-top: 30px;
}



.button {
    padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  font-family: monospace; 
  border-radius: 60%;  
}
.button:hover {
    background-color: yellow;
    text-decoration: underline;

}

















